vendor
node_modules
.env
.git
bootstrap/cache/*
!bootstrap/cache/.gitignore
secrets
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/*storage*framework*views
public/*storage*logs
